<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
      <add name ="connection" connectionString="Data Source = CRISTI-DESKTOP\SQLEXPRESS01; Initial Catalog = GamingCompanyDB; Integrated Security = True;"/>
    </connectionStrings>

    <appSettings>
      
      <add key="selectParent" value="SELECT * FROM Supplier"/>
      <add key="selectChild" value="SELECT * FROM InternalDepartment"/>
      <add key="parentTable" value="Supplier"/>
      <add key="childTable" value="InternalDepartment"/>     
      <add key="parentKey" value="SUPid"/>    
      <add key="foreignKey" value="IDsupplier"/>
     
      <!--
      <add key="selectParent" value="SELECT * FROM Speciality"/>
      <add key="selectChild" value="SELECT * FROM InternalEmployee"/>
      <add key="parentTable" value="Speciality"/>
      <add key="childTable" value="InternalEmployee"/>
      <add key="parentKey" value="SPid"/>
      <add key="foreignKey" value="IEspeciality"/> 
      -->
    </appSettings>


</configuration>